/* Apply styles to the entire page */
body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.app-container {
  width: 500px;
  height: 500px;
  /* max-width: 1000px; */
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Title */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;
}

/* Task Form */
.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form button {
  background-color: #963f74;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.task-form button:hover {
  background-color: #963f74;
}

/* Task List */
.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.task-list li:hover {
  background: #f0f0f0;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

/* Responsive Design */
@media (max-width: 480px) {
  .app-container {
    max-width: 90%;
  }
}
